<div>
<div>Trabalho de conclusão para a disciplina</div>
<p>
    Seguranca de Software
</p>

<div>eric.lima@ipcbcampus.pt</div>
<div>alex.seles@ipcbcampus.pt</div>
<div>gerson.m@ipcbcampus.pt</div>
<p>
    Dezembro de 2024
</p>
</div>
