<div>
    <center>
        <div>Trabalho de conclusão para a disciplina</div>
        <p>
            Segurança de Software
        </p>
        <div>alex.seles@ipcbcampus.pt</div>
        <div>eric.lima@ipcbcampus.pt</div>        
        <div>gerson.muel@ipcbcampus.pt</div>
        <p></p>
        <p>
            Dezembro de 2024
        </p>
    </center>
</div>