
    <!-- troca de password -->
    <div class="login-container">
        <div class="login-form">
            <h2 class="text-center mb-4">Troca de Password</h2>
            <form action="/password" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="email" value="<%= email ? email : '' %>">
                <div class="form-group">
                    <label for="password">Palavra-passe</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Digite sua palavra-passe" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirmação</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="confirme a palavra passe" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <div class="text-center mt-3">
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>
            </div>
        </div>
    </div>