
    <div class="login-container">
        <div class="login-form">
            <h2 class="text-center mb-4">Login</h2>
            <form action="/forgot" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="email">Utilizador</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Digite seu nome de utilizador" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <div class="text-center mt-3">
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>
            </div>
        </div>
    </div>