

<div>
    <center>Corpo da pagina</center>
</div>

<div class="text-center mt-3">
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
</div>

<div>
    <div>
        Enviar Mensagem
    </div>
    <form action="message" method="post">
        <input type="hidden" name="email" value="<%= user.email %>" />
        <input type="text" nam="mensagem" />
        <button type="submit" class="btn btn-primary btn-block">Enviar mensagem</button>
    </form>
</div>